*{
       margin: 0;
       padding: 0;
}
body{
       background-color: black;
       overflow: hidden;
}
.gameContainer{
      background-image: url("nature.avif");
      background-size: 100%;
      height: 100vh;
      width: 100%;
      object-fit: cover;
}
.cat{
       background-image: url("cat.jpg");
       background-repeat: no-repeat;
       height: 20vh;
       width: 15vw;
       background-size: 100%;
       position: absolute;
       bottom: 0;
       border-radius:50%;
}
.obstacle{
       background-image: url("Dragon.jpg");
       background-repeat: no-repeat;
       height: 20vh;
       width: 15vw;
       background-size: 100%;
       position: absolute;
       bottom: 0;
       left: 44vh;
       border-radius: 50%;
}
.gameOver{
       visibility: hidden;
       text-align: center;
       font-size: 63px;
       position: relative;
       top: 50px;
}
.gameOver b{
       color: red;
}
.creator{
       display: flex;
       align-items: center;
       justify-content: center;
       height: 10vh;
       width: 100vw;
       font-size: 40px;
       color: rgb(253, 252, 252);
       
       
}
#score{
       position: absolute;
       right: 0;
       top: 18vh;
       border: 2px rgb(246, 243, 243) dotted;
       width: 15vw;
       font-size: 2rem;
       color: rgb(245, 245, 246);
       background-color: black;
       text-align: center;
}
.animateCat{
       animation: dino 0.5s linear;
}

@keyframes dino{
       0%{
            bottom: 0;
            
       }
       50%{
            bottom: 500px;
            
       }
       100%{
            bottom: 0%;

       }
}
.obstacleAnimation{
         animation: obstacleAnimation 3s linear infinite;
}
@keyframes obstacleAnimation {
       0%{
             left: 100vw;
       }
       50%{
              left: 100vw;
       }
       100%{
             left: -15vw;
       }
       
}