body {
    background-color: rgb(222, 171, 108);
    text-align: center;
}


#clockContainer {
    position: relative;
    background: url("clock.jpg") no-repeat center;
    background-size: cover;

    
    width: min(80vw, 360px);
    aspect-ratio: 1 / 1;

    border: 5px solid rgb(197, 232, 59);
    margin: 40px auto;
    border-radius: 10%;
}


.hour, .minute, .second, .support {
    position: absolute;
    left: 50%;
    bottom: 50%;

    background: black;
    border-radius: 10px;

    transform-origin: bottom;
    transform: translateX(-50%);
}


.support {
    width: 6%;
    height: 6%;
    background: rgb(20, 20, 20);
    border-radius: 50%;

    left: 51%;
    bottom: 47%;
    transform-origin: bottom; 
    
}


.hour {
    height: 20%;
    width: 2.5%;
    opacity: 0.6;
}


.minute {
    height: 30%;
    width: 2%;
    opacity: 0.9;
}


.second {
    height: 35%;
    width: 1%;
    background: red;
}
.timer{
       display: flex;
       margin: auto;
       height: 8%;
       width: 20%;
       align-items: center;
       justify-content: center;
       font-size: xx-large;
       border-radius: 5%;
       gap: 10px;
       color: rgb(129, 33, 33);
}


.manualTime{
       font-weight: 900;
       color: rgb(63, 56, 56);
}

#clockContainer:hover{
       opacity: 0.7;
}

.manualTime:hover{
       color: rgb(0, 81, 255);
}
.box{
       background-color: white;
       width: 100%;
       border-radius: 10%;
}